@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img style="position: center; width: 80%; height: 80%" src="https://drvanessarohlf.com.au/wp-content/uploads/2018/01/cat-2988354_640-1.jpg" alt="Animals Shalter" />
    <img style="position: absolute; left: 0; top: 8%"  src="https://wordpress.techgasp.com/wp-content/uploads/2013/07/screenshot-65.png" alt="AD" />
    <img style="position: absolute; right: 0; top: 8%" src="https://wordpress.techgasp.com/wp-content/uploads/2013/07/screenshot-1.png" alt="AD" />
</div>
