@{
    ViewData["Title"] = "Rules of this site";
}
<h1>@ViewData["Title"]</h1>

<h6>Hi there :)</h6>
<h6>If you are new to this site here is our rules of usage:</h6>
<h6>1. Don't troll or make any fake posts for investigating a pet that is not lost.</h6>
<h6>2. If you do not write your post properly or do something wrog, you will need to contact the admin to edit it or delete it and do it again</h6>
<h6>3. Please coment just for informing people that you found the missing pet or saw it anywhere...Do not troll.</h6>
<h6>By making an acount in this site you authomaticly accept these rules and if you break one of them your acount may be banned.</h6>
<img style="position: absolute; left: 0; top: 8%" src="https://wordpress.techgasp.com/wp-content/uploads/2013/07/screenshot-65.png" alt="AD" />
<img style="position: absolute; right: 0; top: 8%" src="https://wordpress.techgasp.com/wp-content/uploads/2013/07/screenshot-1.png" alt="AD" />
