@model AnimalsVM

<!DOCTYPE html>

<html>
<head>

    <style>

        .rectangle {
            position: absolute;
            height: auto;
            width: 60%;
            top: 15%;
            left: 20%;
            background-color: white;
            z-index: -1;
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 5px #888888;
        }

        .reposition {
            position: absolute;
            width: 60%;
            left: 20%;
            text-align: center;
        }

        /*body {
            padding-bottom: 15%;
        }*/

        .center-pos {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .back {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div class="reposition">
        <h4>Edit</h4>
        <hr />
    </div>
    <div class="rectangle">
        <div class="row">
                <div class="center-pos">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Animals.Id" />
                        <div class="form-group">
                            <label asp-for="Animals.AnimalType" class="control-label"></label>
                            <input asp-for="Animals.AnimalType" class="form-control" />
                            <span asp-validation-for="Animals.AnimalType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.Name" class="control-label"></label>
                            <input asp-for="Animals.Name" class="form-control" />
                            <span asp-validation-for="Animals.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.Age" class="control-label"></label>
                            <input asp-for="Animals.Age" class="form-control" />
                            <span asp-validation-for="Animals.Age" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.Color" class="control-label"></label>
                            <input asp-for="Animals.Color" class="form-control" />
                            <span asp-validation-for="Animals.Color" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.ImageURL" class="control-label"></label>
                            <input asp-for="Animals.ImageURL" class="form-control" />
                            <span asp-validation-for="Animals.ImageURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.Sex" class="control-label"></label>
                            <input asp-for="Animals.Sex" class="form-control" />
                            <span asp-validation-for="Animals.Sex" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.Status" class="control-label"></label>
                            <input asp-for="Animals.Status" class="form-control" />
                            <span asp-validation-for="Animals.Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.Location" class="control-label"></label>
                            <input asp-for="Animals.Location" class="form-control" />
                            <span asp-validation-for="Animals.Location" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Animals.DateTime" class="control-label"></label>
                            <input asp-for="Animals.DateTime" class="form-control" />
                            <span asp-validation-for="Animals.DateTime" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="Animals.UserId" />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>

                    </form>
                </div>
        </div>

        <div class="back">
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</body>
</html>
